extends layout 
block content
  h1= title
  p Welcome to #{title}
  nav
    form(action="/users", method="get")
        input(type='submit' value='REFRESH'  )
    form(action="/users", method="post" onsubmit="alert('submitting')")
        input(type="button" value='A' name='a' onclick='countMe("a")')
        input(type="button" value='B' name='b' onclick='countMe("b")')
        input(type="button" value='C' name='c' onclick='countMe("c")')
        input(type="button" value='D' name='d' onclick='countMe("d")')
  article 
    div A
    div B
    div C
    div D 
  section 
    .class0 
    .class0 
    .class0 
    .class0 
  p Number of requests:  #{item.length}
  p ipaddress #{ipaddress}
  ul
    for i in online
      li= i
  ol 
    for i in item 
        li= i
  script(src="./javascripts/test.js") 
    
